@model KahveOneriSitesi.Data.Models.Yorum
@{
    ViewData["Title"] = "YorumEkle";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<h1>Yorum Ekle</h1>



<form method="post" action="~/YorumYap/YorumEkle/">
    <div class="form-group">
        <input value="@Model.KahveID" type="hidden" class="form-control" id="KahveID" name="KahveID" readonly>
    </div>
    <div class="form-group">
        <label for="YorumSahip">Adınız:</label>
        <input type="text" class="form-control" id="YorumSahip" name="YorumSahip" required>
    </div>

    <div class="form-group">
        <label for="YorumMail">Mail:</label>
        <input type="email" class="form-control" id="YorumMail" name="YorumMail" required>
    </div>

    <div class="form-group">
        <label for="YorumIcerik">Yorumunuz:</label>
        <textarea class="form-control" id="YorumIcerik" name="YorumIcerik" rows="3" required></textarea>
    </div>
    <input style="background-color: #964B00" class="btn btn-primary" type="submit" value="Gönder">

</form>