
@{
    ViewData["Title"] = "WebAnaSayfa";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<h1 style=" text-align:center ">Sitemize Hoş Geldiniz...</h1>
<div style=" text-align:center ">

    <img class="img-fluid rounded-circle" width="600" height="400"src="https://i.hizliresim.com/4qt7bgr.jpeg" alt="Alternate Text" />
    <h1 style=" text-align:center ">Kahve önerilerimize göz atın...</h1>
</div>