
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_WebLayout.cshtml";
}

<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Hakkımızda</h2>
            <p>Kahve Öneri Sitesi, kahve severler için farklı çeşitlerde kahve önerileri sunan bir web sitesidir. Amacımız, kullanıcılara en iyi kahve deneyimini yaşatmak için kaliteli kahve çekirdeklerini ve uzmanlıkla hazırlanmış kahve tariflerini sunmaktır.</p>
            <p>Bizimle iletişime geçmek veya sitemiz hakkında herhangi bir öneri ya da şikayette bulunmak için <a href="/MesajAt/Index/">İletişim sayfamızı</a> ziyaret edebilirsiniz.</p>
            <p>Kahve önerilerinizi de iletişim sayfasından önermenizi bekliyoruz.</p>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <img src="https://i.hizliresim.com/4qt7bgr.jpeg" alt="Hakkımızda Resmi" class="img-fluid rounded-circle">
        </div>
    </div>
</div>
